.an{
    height: 60px;
    width: 60px;
    background: rgb(0, 0, 0);
    animation-name: move;
    animation-duration: 10s;
    animation: move 9s 0.1s;
    animation-fill-mode: forwards;
    border-radius: 30px;
}
@keyframes move{
    0%{
        background: black;
    }
    10%{
        background: rgb(255, 255, 255);
    }
    20%{
        background: rgb(146, 36, 36);
    }
    30%{
        background: rgb(43, 255, 0);
    }
    40%{
        background: rgb(114, 9, 147);
    }
    50%{
        background: rgb(255, 255, 255);
    }
    60%{
        background: rgb(0, 0, 0);}
   
    70%{
        background: rgb(255, 255, 255);
    }
    80%{
        background: black;
    }
    90%{
        background: rgb(20, 194, 78);
    }
    100%{
        background: rgb(205, 73, 73);
    } 
}